.flair-Sorin {
    background-image: url("sprite.png");
    background-position: -4px -8px;
    width: 23px;
    height: 20px;
}
.flair-Tamiyo {
    background-image: url("sprite.png");
    background-position: -40px -3px;
    width: 22px;
    height: 25px;
}
.flair-Griselbrand {
    background-image: url("sprite.png");
    background-position: -67px -4px;
    width: 32px;
    height: 26px;
}
.flair-Liliana {
    background-image: url("sprite.png");
    background-position: -108px -6px;
    width: 16px;
    height: 20px;
}
.flair-Saheeli {
    background-image: url("sprite.png");
    background-position: -137px -4px;
    width: 18px;
    height: 23px;
}
.flair-Avacyn {
    background-image: url("sprite.png");
    background-position: -166px -4px;
    width: 32px;
    height: 24px;
}
.flair-Chandra {
    background-image: url("sprite.png");
    background-position: -207px -1px;
    width: 16px;
    height: 25px;
}
.flair-Jace {
    background-image: url("sprite.png");
    background-position: -242px -6px;
    width: 12px;
    height: 20px;
}
.flair-Elesh-Norn {
    background-image: url("sprite.png");
    background-position: -268px -8px;
    width: 26px;
    height: 21px;
}
.flair-Tezzeret {
    background-image: url("sprite.png");
    background-position: -303px -5px;
    width: 18px;
    height: 21px;
}
.flair-Nicol-Bolas {
    background-image: url("sprite.png");
    background-position: -331px 0px;
    width: 32px;
    height: 30px;
}
.flair-Nissa {
    background-image: url("sprite.png");
    background-position: -371px -6px;
    width: 20px;
    height: 20px;
}
.flair-Ugin {
    background-image: url("sprite.png");
    background-position: -397px 0px;
    width: 32px;
    height: 29px;
}
.flair-Ajani {
    background-image: url("sprite.png");
    background-position: -437px -8px;
    width: 25px;
    height: 20px;
}
.flair-Gideon {
    background-image: url("sprite.png");
    background-position: -467px -6px;
    width: 20px;
    height: 21px;
}
.flair-Mazirek {
    background-image: url("sprite.png");
    background-position: -496px -4px;
    width: 32px;
    height: 25px;
}
.flair-Karlov {
    background-image: url("sprite.png");
    background-position: -532px -2px;
    width: 26px;
    height: 28px;
}
.flair-Kalemne {
    background-image: url("sprite.png");
    background-position: -567px 0px;
    width: 22px;
    height: 31px;
}
.flair-Kaseto {
    background-image: url("sprite.png");
    background-position: -602px 0px;
    width: 18px;
    height: 26px;
}
.flair-Lithomancer {
    background-image: url("sprite.png");
    background-position: -637px -6px;
    width: 22px;
    height: 22px;
}
.flair-Anya {
    background-image: url("sprite.png");
    background-position: -661px -6px;
    width: 32px;
    height: 20px;
}
.flair-Freyalise {
    background-image: url("sprite.png");
    background-position: -701px -6px;
    width: 18px;
    height: 22px;
}
.flair-Meren {
    background-image: url("sprite.png");
    background-position: -735px -4px;
    width: 16px;
    height: 22px;
}
.flair-Ezuri {
    background-image: url("sprite.png");
    background-position: -766px -6px;
    width: 19px;
    height: 20px;
}
.flair-Animated-Wall {
    background-image: url("sprite.png");
    background-position: -794px -5px;
    width: 30px;
    height: 23px;
}
.flair-Arjun {
    background-image: url("sprite.png");
    background-position: -827px 0px;
    width: 30px;
    height: 26px;
}
.flair-Mizzix {
    background-image: url("sprite.png");
    background-position: -863px -1px;
    width: 24px;
    height: 26px;
}
.flair-Urza {
    background-image: url("sprite.png");
    background-position: -895px -6px;
    width: 20px;
    height: 20px;
}
.flair-Sliver {
    background-image: url("sprite.png");
    background-position: -933px -12px;
    width: 17px;
    height: 16px;
}
.flair-Sliver-Queen {
    background-image: url("sprite.png");
    background-position: -960px -1px;
    width: 28px;
    height: 29px;
}
.flair-Zedruu {
    background-image: url("sprite.png");
    background-position: -998px -2px;
    width: 24px;
    height: 26px;
}
